
label
{
	display: block;
	width: 150px;
	float: left;
}

input {
  margin: 5px;
}

a, a:visited, a:active{
  text-decoration: none;
}

a:hover{
  color: hotpink;
}

.table th, .table td {
  text-align: center;
  padding: 8px;
  border: 1px solid #979696;
}

.table th {
  background-color: #759874;
  color: white;
}
body {
  margin-top: 5em;
}

.table {
  margin-top: 100px;
  margin-bottom: 100px;
}
