@charset "UTF-8";

h1,
h2,
h3,
h4,
h5,
h6 {
    color: blue;
    font-family: "Times New Roman";
    font-weight: bold;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center !important;
}

img {
    margin-left: 50%;
}

a:hover {
    color: hotpink;
}

#menu{
    text-align: center;
}

#login_form{
    margin-left: 40%;
    margin-right: 40%;
}

#id-login{
    margin-right: 80px;
}

#id-index{
    margin-right: 200px;
}