h1 {
    color:blue;
    font-family: "Times New Roman";
    font-weight: bold;
    text-align: center;
}

p{
    font-family: "Times New Roman";

}

ul{
    list-style-type: circle;
}

img {
    margin-left: 50%;
}

a:hover{
    color: hotpink;
}
